@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Quicksand')
global-reset()
//variables
// main-color = #0075ff
background-color = #faf9f0

body
  font-family 'Georgia'
  background-color background-color
  color #444
  a
    color inherit
    text-decoration none

.container
  width 1200px
  height:1000px
  margin 50px auto
  overflow auto
#menu
  z-index 100
.main-content
  margin-left auto
  margin-right auto
  width 900px
  p
    margin-bottom 20px
  h2
    font-size 1.5em
    font-weight bold
    line-height 2.0
p
  line-height 1.8
#links
  li
    text-align center
    padding 25px
  li:hover
    background-color rgba(#a2a2a2, 0.67)
#title
  margin-left auto
  margin-right auto
  font-family: 'Quicksand'
  a
    margin-right 100px
footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
  a
    text-decoration underline
