@import url("http://fonts.googleapis.com/css?family=Quicksand");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
body a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 1200px;
  height: 1000px;
  margin: 50px auto;
  overflow: auto;
}
#menu {
  z-index: 100;
}
.main-content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2;
}
p {
  line-height: 1.8;
}
#links li {
  text-align: center;
  padding: 25px;
}
#links li:hover {
  background-color: rgba(162,162,162,0.67);
}
#title {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Quicksand';
}
#title a {
  margin-right: 100px;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
footer a {
  text-decoration: underline;
}
