extend layout
block content
  h2 Members
  
  ul(id="member_list")
    li Adarsh
    li Sky
    li Caleb
    li Victor
  
block drawer
  ul(id="links")
    a(href="/")
      li Home
    a(href="/about") 
      li 
        b About
    //- a(href="/map") 
    //-   li Map
    a(href="/people") 
      li People
