extend layout
block scripts
  script(src="static/scripts/socketIndex.js")
  script(src="static/scripts/canvi.js")
  
block content
  canvas(id="canvas" height="779" width="1000")
  button(type="button" id="button") Click Me!
  form(action="")
    input(id="m" autocomplete="off")
    button Find
block drawer
  ul(id="links")
    a(href="/")
      li 
        b Home
    a(href="/about") 
      li About
    //- a(href="/map") 
    //-   li Map
    a(href="/people") 
      li People
