doctype
html
  head
    title #{title} - AB Maps
    link(rel='stylesheet', href='static/stylus/style.css')
    link(rel='icon', href='static/logo.ico')
    script(src="https://cdn.socket.io/socket.io-1.3.5.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="bower/webcomponentsjs/webcomponents-lite.js")
    link(rel="import" href="bower/iron-icons/iron-icons.html")
    link(rel="import" href="bower/paper-icon-button/paper-icon-button.html")
    link(rel="import" href="bower/paper-toolbar/paper-toolbar.html")
    link(rel="import" href="bower/paper-drawer-panel/paper-drawer-panel.html")

  body
    .container
      paper-drawer-panel(force-narrow)
        paper-header-panel(drawer)
            paper-toolbar
            .drawer
              block drawer
        paper-header-panel(main)
          paper-toolbar(id="toolBar")
            paper-icon-button(icon='menu', paper-drawer-toggle)
            div(id="title") 
              a(href="/") AB Maps
          
          .main-content
            block content
          footer
            p Running on 
              a(href='http://nodejs.org') Node.js
              |&nbsp;with 
              a(href='http://expressjs.com/') Express
              |, 
              a(href='http://jade-lang.com/') Jade
              |&nbsp;and 
              a(href='https://learnboost.github.io/stylus/') Stylus
            p Created by AB IdeaLab
  block scripts
