extend layout
block content
  div asdfjasdlkfjlakjdf
block drawer
  ul(id="links")
    a(href="/")
      li Home
    a(href="/about") 
      li About
    //- a(href="/map") 
    //-   li Map
    a(href="/people") 
      li
        b People
